# Project-specific files
.idea/
*.iml
*.iws

# IntelliJ project config files
/workspace.xml
/tasks.xml
/shelf/
/out/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Logs
*.log

# Temporary files
*.tmp
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~
